#lyricer {
  font-size: 88%;
  text-shadow: 0 0 1px #EEEEEE;
  color: #666666;
  overflow: scroll;
}

#lyricer ul {
  list-style-type: none;
  padding: 3em;
}

#lyricer ul li {
  text-align: center;
  overflow: scroll;
  transition: all 0.13s ease-out;
}

#lyricer .lyricer-current-line {
  font-size: 120%;
  color: white;
}